NETWORK=stellar:testnet

# Client
RESOURCE_SERVER_URL=http://localhost:3000
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_PRIVATE_KEY=YOUR_STELLAR_PRIVATE_KEY_HERE

# Server
FACILITATOR_URL=https://www.x402.org/facilitator
PRICE="$0.10"
## Stellar wallet address to receive payments. This example address is live for testnet.
PAY_TO="GC6IYCSUD3OY4UM43EEYHFLPSM4ORW2JRJLNPMHRA5UWYX2ABAFJU3QZ"
# API key for You.com.
YDC_API_KEY=your-ydc-api-key-here
